.detail-quiz-container {
    display  : flex;
    gap      : 20px;
    padding  : 50px;

    .content-left {
        width          : 70%;
        border         : 2px solid #ccc;
        padding        : 20px;
        border-radius  : 5px;

        .title {
            font-size    : 30px;
            font-weight  : 600;
        }

        hr {
            margin-bottom  : 30px;
        }

        .q-content {
            .question {
                font-size      : 20px;
                font-weight    : 600;
                margin-top     : 25px;
                margin-left    : 30px;
                margin-bottom  : 10px;
            }

            .answer {
                margin-left  : 30px;
            }

            .q-image {
                text-align  : center;

                img {
                    width       : 250px;
                    height      : 150px;
                    object-fit  : contain;
                }
            }

            .no-image {
                width   : 250px;
                height  : 150px;
            }
        }

        .footer {
            display          : flex;
            gap              : 15px;
            justify-content  : center;
            margin-top       : 45px;
            flex-wrap        : wrap;
        }

    }

    .content-right {
        width          : 30%;
        border         : 2px solid #ccc;
        border-radius  : 5px;
    }
}