.detail-quiz-container {
    display  : flex;
    gap      : 20px;
    padding  : 50px;

    .content-left {
        width   : 70%;
        border  : 1px solid red;

        .title {
            font-size    : 30px;
            font-weight  : 600;
        }


        .q-content {
            .question {
                font-size    : 20px;
                font-weight  : 600;
            }


            .q-image {
                img {
                    width   : 300px;
                    height  : 200px;
                }
            }
        }

        .footer {
            display          : flex;
            gap              : 15px;
            justify-content  : center;
        }

    }

    .content-right {
        width   : 30%;
        border  : 1px solid blue;
    }
}