.dashboard-container {
    padding  : 20px;

    .title {
        color        : #696cff;
        font-weight  : 500;
        font-size    : 24px;
    }

    .description {
        color        : #525b75;
        font-weight  : 600;
        padding      : 5px;
    }

    .content {
        display     : flex;
        height      : 300px;
        margin-top  : 30px;
        gap         : 20px;

        .content-left {
            width      : 50%;
            display    : flex;
            flex-wrap  : wrap;
            gap        : 20px;

            .child {
                background-color  : #ffffff;
                width             : calc(50% - 10px);
                height            : 150px;
                border-radius     : 8px;
                color             : #32475c;
                box-shadow        : 0 2px 9px -2px #32475c0f,
                    0 4px 9px 1px #32475c0a,
                    0 2px 6px 4px #32475c05;

                .c-top {
                    display          : flex;
                    justify-content  : space-between;
                    padding          : 20px 20px 0 20px;

                    .text-1 {
                        color        : #212b36;
                        font-size    : 18px;
                        font-weight  : 500;
                    }

                    .icon {
                        height  : 38px;
                        width   : 38px;
                    }
                }

                .text-2 {
                    padding      : 0 20px;
                    color        : #212b36;
                    font-size    : 36px;
                    font-weight  : 700;
                }

                .sub-user {
                    color      : #637381;
                    font-size  : 15px;
                    float      : right;
                    display    : flex;
                    gap        : 20px;
                    padding    : 0px 20px;
                }
            }
        }

        .content-right {
            background-color  : #ffffff;
            border-radius     : 8px;
            width             : 50%;
            height            : 320px;
            box-shadow        : 0 2px 9px -2px #32475c0f,
                0 4px 9px 1px #32475c0a,
                0 2px 6px 4px #32475c05;

            .barcharts {
                margin-top  : 20px;
            }
        }
    }
}