.manage-user-container {
    padding  : 10px;

    .title {}

    .users-content {}
}

.modal-add-user {
    .img-preview {
        background       : #fafafa;
        display          : flex;
        justify-content  : center;
        align-items      : center;
        margin-left      : 10px;
        height           : 120px;
        width            : 120px;
        border-radius    : 10px;
        border           : 1px dashed #ced4da;

        img {
            object-fit  : contain;
            max-width   : 100%;
            max-height  : 100%;
            cursor      : pointer;
            padding     : 5px 0px;

            &:hover {
                opacity  : 0.9;
            }
        }

        span {
            opacity  : 0.5;
        }
    }

    .label-upload {
        padding           : 3px 8px;
        border-radius     : 5px;
        cursor            : pointer;
        border            : 1px solid #ccc;
        background-color  : #eeeeee;

        &:hover {
            opacity  : 0.8;
        }
    }

}