.change-password-container {
    background-color  : #ffffff;
    padding           : 0 25px;
    border-radius     : 8px;
    box-shadow        : 0 2px 9px -2px #32475c0f,
        0 4px 9px 1px #32475c0a,
        0 2px 6px 4px #32475c05;

    .title {
        padding-top    : 25px;
        color          : #32475c;
        font-size      : 20px;
        font-weight    : 500;
        margin-bottom  : 20px;
    }
}